.git
.gitignore
.venv
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd

airflow/logs
model_dir
mlartifacts

.terraform
infra/terraform/**/.terraform
infra/terraform/**/*.tfstate
infra/terraform/**/*.tfstate.*

.DS_Store
Thumbs.db
