PGHOST=localhost
PGPORT=15432
PGDATABASE=velib_dw
PGUSER=velib
PGPASSWORD=velib
OPENWEATHER_API_KEY=replace-me

AWS_REGION=eu-west-3
BUCKET=bikeshare-paris-dev
CITY=paris
TRAIN_PG_SCHEMA=analytics
TRAIN_FEATURE_TABLE=feat_station_snapshot_5min
ONLINE_FEATURE_TABLE=feat_station_snapshot_latest

MLFLOW_TRACKING_URI=sqlite:///model_dir/mlflow.db
MLFLOW_EXPERIMENT_NAME=bikeshare-local
PREDICT_BIKES=true
TARGET_NAME=bikes
SERVING_ENVIRONMENT=local
